---
import Layout from '../layouts/Layout.astro';
import BackgroundAnimations from '../components/BackgroundAnimations';
import Navigation from '../components/Navigation';
import Hero from '../components/Hero';
import About from '../components/About';
import Projects from '../components/Projects';
import Skills from '../components/Skills';
import Certificates from '../components/Certificates';
import Contact from '../components/Contact';
import Footer from '../components/Footer';
---

<Layout title="Sergio Isaac | Desarrollador Web">
  <BackgroundAnimations client:load />
  <Navigation client:load />
  <main>
    <Hero client:load />
    <About client:visible />
    <Projects client:visible />
    <Certificates client:visible />
    <Skills client:visible />
    <Contact client:visible />
  </main>
  <Footer client:visible />
</Layout>